<html
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
<div>

<h3>Citation</h3>

<pre>
@data{${c.resource.id},
author = ${c.pkg.author},
Title = ${c.resource.name},
Publisher = ,
Year = ${c.resource.created},
}
</pre>

Citation goes here

<py:for each="i, key in enumerate(sorted(c.resource.keys()))">
	<tr py:if="not key=='description'">
	  <td class="dataset-label" property="rdfs:label">${_(key)}</td>
	  <td class="dataset-details" property="rdf:value">${c.resource[key]}</td>
	</tr>
</py:for>

</div>
</html>
